---
import { ContainerRenderer,  } from '../../blocks';
import type { SectionTemplateType as Props } from './sectionTemplate.types';

const { id, classNames, style, elements } = Astro.props as Props;

const classes = Array.isArray(classNames) ? classNames.join(' ') : classNames || '';

---

<section class={classes || undefined} id={id} style={style}>
   {elements && elements.map((element) => <ContainerRenderer {...element} />)}
</section>