/* Regular */
@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* SemiBold Italic */
@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

/* ExtraBold Italic */
@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

/* Black */
@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

/* Black Italic */
@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

/* Regular */
@font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/Nunito/Nunito-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* SemiBold Italic */
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/Nunito/Nunito-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
@font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/Nunito/Nunito-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

/* ExtraBold Italic */
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

/* Black */
@font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/Nunito/Nunito-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

/* Black Italic */
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}