html {
   font-family: var(--font-sans-nunito);
   background-color: var(--color-neutral-800);
   @apply text-[1rem]
}

h1,
h2,
h3,
h4,
h5 {
   font-family: var(--font-sans-playfair);
}

h1 {
   @apply lg:text-[4rem] text-[3rem] font-bold;
}

h2 {
   @apply lg:text-[3rem] text-[2rem] font-bold;
}

h3 {
   @apply lg:text-[2.5rem] text-[2rem] font-bold;
}

h4 {
   @apply lg:text-[2rem] text-[1.75rem] font-bold;
}

h5 {
   @apply lg:text-[1.75rem] text-[1.5rem] font-bold;
}

.footer-img {
   @apply absolute bottom-0 left-0 z-[-1];
}

/* .beatspot-main {
   @apply mt-[80px];
} */
