---
import { Layout } from "../layouts";
---

<Layout bodyClassNames={['error-404']}>
  <div slot="main" class="flex flex-col items-center justify-center h-screen text-center">
    <h1 class="text-6xl font-bold mb-4">404</h1>
    <h2 class="text-2xl mb-6">Oops! Page not found.</h2>
  </div>
</Layout>
