---
import { Layout } from "../layouts";
---

<Layout bodyClassNames={['error-500']}>
  <main slot="main" class="flex flex-col items-center justify-center md:h-[calc(100vh-410px)] h-[calc(100vh-316px)] text-center">
    <h1 class="text-6xl font-bold mb-4">500</h1>
    <h2 class="text-2xl mb-6">Oops! Something went wrong.</h2>
  </main>
</Layout>
