---
import { HeroSection, SectionTemplate, type HeroSectionType } from '../components/sections';
import { aboutPage } from '../content/aboutPage';
import { Layout } from '../layouts';

const { heroSection, aboutMeSection, eduSkillsSection } = aboutPage;
---

<Layout bodyClassNames={['about']}>
	<main slot="main" class="about-main mx-4 sm:mx-8 md:mx-12" id="about">
      <HeroSection {...heroSection  as HeroSectionType} />

      <SectionTemplate {...aboutMeSection} />
      <SectionTemplate {...eduSkillsSection} />
   </main>
</Layout>