---
import { HeroSection, SectionTemplate, type HeroSectionType } from '../components/sections';
import { Layout } from '../layouts';
import { contactPage } from '../content/contact';

const { heroSection, contactMeSection } = contactPage;
---

<Layout bodyClassNames={['contact']}>
	<main slot="main" class="contact-main mx-4 sm:mx-8 md:mx-12" id="contact">
      <HeroSection {...heroSection  as HeroSectionType} />

      <SectionTemplate {...contactMeSection} />
   </main>
</Layout>