---
import { getEntry } from 'astro:content';
import { HeroSection } from '../components/sections/hero';
import { frontmatter } from "../content/pages/home.md";
import type { HeroSectionType } from '../components/sections/hero';
import { Layout } from '../layouts';

const linkedInEntry = await getEntry('social', 'linkedin');
const linkedIn = linkedInEntry?.data ?? null;

const { heroSection } = frontmatter;

---

<Layout>
   <main slot="main" class="home">
      <HeroSection {...heroSection  as HeroSectionType} />

      <!-- <div
      class="featured-section"
    >
      <h2 class="featured-heading">{featuredText}</h2>

      <MediaCard
        title="BeatSpot"
        description="BeatSpot is a mobile app that makes it easy for users to discover, explore, and book nearby hip hop concerts, battles, and festivals."
        image={{
          src: "./images/beatSpotCover.png",
          position: "right",
        }}
        actionButton={{
          text: "View Project",
          href: { url: "/projects/beatspot" },
        }}
      />

      <MediaCard
        title="SunRay"
        description="SunRay is a responsive e-commerce website for a sunglass store, designed with a clean UI and seamless shopping experience across desktop and mobile."
        image={{
          src: "./images/sunRayCover.png",
          position: "left",
        }}
        actionButton={{
          text: "View Project",
          href: { url: "/projects/sunray" },
        }}
      />

      <MediaCard
        title="Flixio"
        description="Flixio is a cross-platform streaming application designed for mobile, tablet, and desktop, allowing users to discover, search, and enjoy movies and series seamlessly across devices."
        image={{
          src: "./images/flixioCover.png",
          position: "right",
        }}
        actionButton={{
          text: "View Project",
          href: { url: "/projects/flixio" },
        }}
      />
    </div> -->
   </main>
</Layout>
