---
import { HeroSection } from '../components/sections/hero';
import type { HeroSectionType } from '../components/sections/hero';
import { Layout } from '../layouts';
import { homePage } from '../content/homePage';
import { SectionTemplate } from '../components/sections/sectionTemplate';

const { heroSection, featuredSection } = homePage;
---

<Layout bodyClassNames={['home']}>
   <main slot="main" class="home-main">
      <HeroSection {...heroSection  as HeroSectionType} />

      <SectionTemplate {...featuredSection} />
   </main>
</Layout>
