---
import { HeroSection } from '../components/sections/hero';
import type { HeroSectionType } from '../components/sections/hero';
import { Layout } from '../layouts';
import { projectsPage } from '../content/projectsPage';
import { SectionTemplate } from '../components/sections/sectionTemplate';

const { heroSection, projectsSection } = projectsPage;
---

<Layout>
   <main slot="main" class="projects" id="projects">
      <HeroSection {...heroSection  as HeroSectionType} />

      <SectionTemplate {...projectsSection} />
   </main>
</Layout>
