---
import { HeroSection, SectionTemplate, type HeroSectionType } from '../../components/sections';
import { beatSpotPage } from '../../content/beatSpotPage';
import { Layout } from '../../layouts';

const {
   heroSection,
   overviewSection,
   caseSection,
   responsibilitiesSection,
   designThinkingSection,
   userResearchSection,
   userResearchKeyInsightsSection,
   personaSection,
   problemStatementSection,
   userJourneyMapSection,
   userFlowSection,
   paperWireframesSection,
   digitalWireframesSection,
   lowFidelityPrototypeSection,
   usabilityStudySection,
   usabilityStudyFindingsSection,
   designRefinementsSection,
   finalDesignSection,
   finalDesignImagesSection,
   highFidelityPrototypeSection,
   finalOutcomeAndLearningsSection,
   closingReflectionSection,
} = beatSpotPage;
---

<Layout bodyClassNames={['beatspot']}>
   <main slot="main" class="beatspot-main" id="beatspot">
      <HeroSection {...heroSection as HeroSectionType} />

      <SectionTemplate {...overviewSection} />
      <SectionTemplate {...caseSection} />
      <SectionTemplate {...responsibilitiesSection} />
      <SectionTemplate {...designThinkingSection} />
      <SectionTemplate {...userResearchSection} />
      <SectionTemplate {...userResearchKeyInsightsSection} />
      <SectionTemplate {...personaSection} />
      <SectionTemplate {...problemStatementSection} />
      <SectionTemplate {...userJourneyMapSection} />
      <SectionTemplate {...userFlowSection} />
      <SectionTemplate {...paperWireframesSection} />
      <SectionTemplate {...digitalWireframesSection} />
      <SectionTemplate {...lowFidelityPrototypeSection} />
      <SectionTemplate {...usabilityStudySection} />
      <SectionTemplate {...usabilityStudyFindingsSection} />
      <SectionTemplate {...designRefinementsSection} />
      <SectionTemplate {...finalDesignSection} />
      <SectionTemplate {...finalDesignImagesSection} />
      <SectionTemplate {...highFidelityPrototypeSection} />
      <SectionTemplate {...finalOutcomeAndLearningsSection} />
      <SectionTemplate {...closingReflectionSection} />
   </main>
</Layout>
