---
import { HeroSection, SectionTemplate, type HeroSectionType } from "../../components/sections";
import { beatSpotPage } from "../../content/beatSpotPage";
import { Layout } from "../../layouts";



const { heroSection, overviewSection, caseSection, responsibilitiesSection } = beatSpotPage;
---

<Layout>
   <main slot="main" class="beatspot" id="beatspot">
      <HeroSection {...heroSection  as HeroSectionType} />

     <SectionTemplate {...overviewSection} />
     <SectionTemplate {...caseSection} />
     <SectionTemplate {...responsibilitiesSection} />
   </main>
</Layout>
