---
import { HeroSection, SectionTemplate, type HeroSectionType } from "../../components/sections";
import { loginFlowPage } from "../../content/loginFlowPage";
import { Layout } from "../../layouts";



const { heroSection, overviewSection, caseSection, responsibilitiesSection } = loginFlowPage;
---

<Layout>
   <main slot="main" class="loginFlow" id="loginFlow">
      <HeroSection {...heroSection  as HeroSectionType} />

     <SectionTemplate {...overviewSection} />
     <SectionTemplate {...caseSection} />
     <SectionTemplate {...responsibilitiesSection} />
   </main>
</Layout>
