---
import { NavBar, Footer } from '../components/sections';
import { navBar } from '../content/header';
import { footer } from '../content/footer';
import '../styles/index.css';

const { title } = Astro.slots;
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <title>{title}</title>
   </head>
   <body>
      <slot name="header">
         <header>
            <NavBar {...navBar} />
         </header>
      </slot>

      <slot name="main" />

      <slot name="footer">
         <Footer {...footer} />
      </slot>
   </body>
</html>
